<!doctype html>
<html lang="ko">
<head>
<%-include('../../header') %>
</head>
<body>
<!-- 본문 -->
<div class="main-container">

   <!-- 내용 -->
    <div class="pure-g page-contents">

        <!-- 할당들 -->
        <div class="pure-u-1-1">
            <div class="quota-container">
            </div>

            <div class="custom-quota-container">
                <table class="pure-table pure-table-bordered w-100" style="table-layout:fixed">
                    <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th><b>완료</b></th>
                        <th><b>진행중</b></th>
                        <th><b>아웃</b></th>
                        <th><b>미응답</b></th>
                        <th><b>Total(count)</b></th>
                    </tr>
                    </thead>
                    <tbody class="custom-tbody text-center">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 할당들 -->

    </div>
    <!-- 내용 -->
</div>
<!-- 본문 -->
<script>
    $(document).ready(function() {
        function init() {
            var { type1, type2, result } = data();
            dataList(type1, type2, result);
        }

        function dataList(type1, type2, result){
            for(var i = 0; i< type1.length; i++){
                var listHTML = '<tr>';
                if(!i) {
                    listHTML += '<td style="background: #e3e3e3" rowspan="'+type1.length+'"><b>QR 응답자<b/></td>'
                }
                listHTML +=
                    ' <td style="background: #e3e3e3"><b>'+type1[i]._id+'</b></td>'+
                    ' <td>'+type1[i].COMPLETE+'</td>'+
                    ' <td>'+type1[i].DOING+'</td>'+
                    ' <td>'+type1[i].OUT+'</td>'+
                    ' <td>'+type1[i].NOT+'</td>'+
                    ' <td>'+type1[i].TOTAL+'</td>'+
                    '</tr>'
                $('.custom-tbody').append(listHTML);
            }

            for(var j = 0; j< type2.length; j++){
                var offlineHTML = '<tr>';
                if(!j) {
                    offlineHTML += '<td style="background: #e3e3e3" rowspan="'+type2.length+'"><b>현장 응답자</b></td>'
                }
                offlineHTML +=
                    ' <td style="background: #e3e3e3"><b>'+type2[j]._id+'</b></td>'+
                    ' <td>'+type2[j].COMPLETE+'</td>'+
                    ' <td>'+type2[j].DOING+'</td>'+
                    ' <td>'+type2[j].OUT+'</td>'+
                    ' <td>'+type2[j].NOT+'</td>'+
                    ' <td>'+type2[j].TOTAL+'</td>'+
                    '</tr>'
                $('.custom-tbody').append(offlineHTML);
            }

            var totalHTML = '<tr>';
            totalHTML += '<td style="background: #e3e3e3" colspan=2 class="text-left"><b>Total</b></td>'+
                '<td>'+result.COMPLETE+'</td>'+
                '<td>'+result.DOING+'</td>'+
                '<td>'+result.OUT+'</td>'+
                '<td>'+result.NOT+'</td>'+
                '<td>'+result.TOTAL+'</td>'+
                '</tr>'
            $('.custom-tbody').append(totalHTML);
        }

        function data() {
            var list = JSON.parse('<%-JSON.stringify(data.getData)%>');
            var result = list.reduce(function(a,c){
                return {
                    COMPLETE: a.COMPLETE + c.COMPLETE,
                    DOING: a.DOING + c.DOING,
                    OUT: a.OUT + c.OUT,
                    TOTAL: a.TOTAL + c.TOTAL,
                    NOT: a.NOT + c.NOT
                }
            },{
                COMPLETE: 0,
                DOING: 0,
                OUT: 0,
                TOTAL: 0,
                NOT: 0,
            })

            var type1 = list.filter(function(r){
                return r.TYPE === 'QR'
            });
            var type2 = list.filter(function(r){
                return r.TYPE === '현장'
            });
            console.log(result)
            return {
                type1,
                type2,
                result
            }
        }

        init();
    });



</script>
</body>
</html>
