.navigation-title {
  padding-right: 1rem;
  padding-left: 1.25rem;
  font-weight: 600;
}

.github-icon {
  display: block;
  margin-left: 3rem;
  width: 1.5em;
}

.navigation-items {
  float: left;
  margin-right: 3em;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 12px;
}